{{ form_start(form) }}
<div class="row">
    <div class="col-md-10">
    {{ form_row(form.content,{attr:{"vlaue":""}}) }}
    </div>
    <button class="btn-send" ><i class="nc-icon nc-send"></i> </button>
</div>
{{ form_end(form) }}
