{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}
{% set current_path = path(app.request.get('_route')) %}
{% block body %}
    <h1>{% if current_path == "user_new"   %}Add new Patient{% else  %}Add new Doctor{% endif %}</h1>
    {{ include('user/_form.html.twig') }}
{% endblock %}
